.container-fluid{
    margin-top: 40px;
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    background-color: #292b2d!important;
  }
  
  p{
    color: white;
  }
  
  .text-center {
    color: white;
  }
  
  .fa-lg {
    color: white;
  }
  
  .fa-lg:hover {
    color: #ff6465;
    transition-duration: .5s;
    text-decoration: none;
  }
  
  .link-footer{
    color: #ff6465;
  }
  
  .link-footer:hover{
    color: white;
    transition-duration: .5s;
    text-decoration: none;
  }
  
  .bg-dark {
    background-color:#292b2d !important;
    border-bottom: 3px solid #262829;
  }
  .card-pricing.popular {
    z-index: 1;
    border: 3px solid #ff6465;
  }
  .card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #292b2d;
  }
  .btn-primary {
    color: #fff;
    background-color: #ff6465;
    border-color: #ff6465;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #292b2d;
    border-color: #292b2d;
  }
  .text-primary {
    color: #ff6465!important;
  }
  .bg-primary {
    background-color: #ff6465!important;
  }
  .carousel {
    margin-top: 23px;
  }
  .indigo {
    background-color: #0b1117!important;
}

  .btn-outline-secondary {
    border: 2px solid #ff6465!important;
    background-color: transparent!important;
    color: #ff6465!important;
  }
  .btn-primary {
    background-color: #ff3838!important;
    color: #fff!important;
  }

body{
background-color: #0F171E;
}
.img-bg{
    width: 100%;
    opacity: .2;
    position: fixed;
}
.bg-light {
    background-color: transparent !important ;
    max-height: 70px;    
    padding-top: 20px;

}
.logo-nav{
    margin-left:250px;
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
}}

.navbar-light .navbar-nav .nav-link {
    color: #d2d2d2
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.carousel {
    position: relative;
    margin-top: 25px;
    border-top: solid #ff6465;
}

.h5, h5 {
    font-size: 2.25rem;
    color: #ff6465; 
}

.category-title{
    font-size: 1.5rem;
    color: white;
    margin-top: 50px;
    margin-bottom: -55px;
    margin-left: 16px;
}

.category-title{
    border-bottom: white solid 2px;
    max-width: 232px;
    padding-bottom: 8px;
}

    .image {
        display: block;
        width: 100%;
        height: auto;
    }
      
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #080808;
    }
      
    .container:hover .overlay {
        opacity: 1;
    }
      
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        margin-left: -15px;
        margin-top: 70px;s
    }
    
    .owl-carousel .owl-stage-outer {
        margin-left: 17px;
    }

    hr {
        border-top: 2px solid rgba(0,0,0,.1);
    }